In [1]:
import pandas as pd
import numpy as np
import re

/Users/zoesh/anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [3]:
!mkdir data

In [31]:
df = pd.read_excel('data/vendor list.xlsx', sheetname='Sheet1').reset_index().drop('index',axis = 1)

In [293]:
df2 = pd.read_csv('data/customers_temp.csv')
# df2.drop('Job Position', inplace = True, axis = 1)

In [47]:
df_vendor = pd.read_csv('data/res.partner_temp.csv')

In [294]:
df2.columns.values[:-7]

array(['ID', 'Name', 'address type', 'Job Position', 'Is a Company',
       'Related Company/ID', 'Email', 'Phone', 'Mobile', 'Street',
       'Street2', 'ZIP', 'City', 'State', 'Country'], dtype=object)

In [50]:
df_col_names = df2.columns.values

In [267]:
ID = ['VA_0000' + str(i) for i in range(df.shape[0])]

In [268]:
Name = list(df.Vendor.values)

In [313]:
Job_Position = [None for i in range(df.shape[0])]

In [314]:
Is_Company = [True for i in range(df.shape[0])]

In [315]:
Email = [None for i in range(df.shape[0])]

In [342]:
reg = re.compile("[-+]?\d+[\.]?\d*[eE]?[-+]?\d*")
Phone = ['-'.join([i.lstrip('-') for i in reg.findall(j)]) if not pd.isnull(j) else j for j in df['Main Phone']]

In [317]:
Mobile = [np.nan for i in range(df.shape[0])]

In [318]:
Street = list(df['Bill from 1'])

In [319]:
Street2 = list(df['Bill from 2'])

In [320]:
Zip = [i[-5:] for i in df['Bill from 3']]

In [321]:
City = [' '.join(i.split(' ')[:-2]).replace(',', '') for i in df['Bill from 3']]
State = [i.split(' ')[-2] for i in df['Bill from 3']]

In [322]:
Country = ['United States' for i in range(df.shape[0])]

In [323]:
Website = [np.nan for i in range(df.shape[0])]
address_type =['Invoice address' for i in range(df.shape[0])]

In [324]:
related_company_id = [np.nan for i in range(df.shape[0])]
df_v = pd.DataFrame(np.array([ID, Name, address_type, Job_Position, Is_Company, related_company_id,Email,Phone,Mobile,Street,Street2,Zip,City, State,Country]).T)

In [325]:
df_v.columns = df2.columns.values[:-7]

In [326]:
df_v.to_csv('data/test.csv')

In [349]:
sub_ID = ['VA_0000' + str(df.shape[0]+i) for i in range(df.shape[0])]
sub_Name = [re.sub('[^A-Za-z ]+', '', j).lstrip() if not pd.isnull(j) else j for j in df['Main Phone']]
sub_address_type = ['Shipping address' for i in range(df.shape[0])]
sub_Is_Company = [False for i in range(df.shape[0])]
sub_related_company_id = list(df_v.ID)
sub_Email = [None for i in range(df.shape[0])]
sub_Street = list(df['Ship from 1'])
sub_Street2 = list(df['Ship from 2'])
sub_Zip = [i[-5:] for i in df['Ship from 3']]
sub_City = [' '.join(i.split(' ')[:-2]).replace(',', '') for i in df['Ship from 3']]
sub_State = [i.split(' ')[-2] for i in df['Ship from 3']]
sub_Country = ['United States' for i in range(df.shape[0])]
df_v2 = pd.DataFrame(np.array([sub_ID, sub_Name, sub_address_type, Job_Position, sub_Is_Company, sub_related_company_id,Email,Phone,Mobile,sub_Street,sub_Street2,sub_Zip,sub_City, sub_State,sub_Country]).T)

In [350]:
df_v2.columns = df2.columns.values[:-7]

In [362]:
df_new = pd.concat([df_v,df_v2])
df_new.reset_index(inplace=True)
df_new.to_csv('data/test.csv')

In [361]:
df_new

,index,ID,Name,address type,Job Position,Is a Company,Related Company/ID,Email,Phone,Mobile,Street,Street2,ZIP,City,State,Country
0,0,VA_00000,93 Transport,Invoice address,None,True,NaN,None,626-589-7622,NaN,93 Transport,1586 W. Lorane Way,92802,Anaheim,CA,United States
1,1,VA_00001,A&A Logistics,Invoice address,None,True,NaN,None,NaN,NaN,A&A Logistics,7638 MANZANAR AVE,90660,PICO RIVERA,CA,United States
2,2,VA_00002,A&T Pallets,Invoice address,None,True,NaN,None,323-974-8008,NaN,A&T Pallets,1512 DATE ST,90640,MONTEBELLO,CA,United States
3,3,VA_00003,ABEEO PRODUCE LLC,Invoice address,None,True,NaN,None,NaN,NaN,ABEEO PRODUCE LLC,P O BOX 722371,92172,SAN DIEGO,CA,United States
4,0,VA_00004,Wilson,Shipping address,None,False,VA_00000,None,626-589-7622,NaN,93 Transport,1586 W. Lorane Way,92802,Anaheim,CA,United States
5,1,VA_00005,NaN,Shipping address,None,False,VA_00001,None,NaN,NaN,A&A Logistics,7638 MANZANAR AVE,90660,PICO RIVERA,CA,United States
6,2,VA_00006,JUAN TORRES,Shipping address,None,False,VA_00002,None,323-974-8008,NaN,A&T Pallets,1512 DATE ST,90640,MONTEBELLO,CA,United States
7,3,VA_00007,NaN,Shipping address,None,False,VA_00003,None,NaN,NaN,ABEEO PRODUCE LLC,P O BOX 722371,92172,SAN DIEGO,CA,United States

In [196]:
reg = re.compile("[-+]?\d+[\.]?\d*[eE]?[-+]?\d*")

In [370]:
df2 = pd.read_excel('data/products_temp.xls', sheetname='Data').reset_index().drop('index',axis = 1)
df = pd.read_excel('data/item list.xlsx', sheetname='Sheet1').reset_index().drop('index',axis = 1)
df3 = pd.read_csv('data/product.template.csv')

In [378]:
df4 = df3[np.isfinite(df3['barcode'])]

In [400]:
df.head()

,Active Status,Type,Item,Description,Sales Tax Code,Account,COGS Account,Asset Account,Accumulated Depreciation,Purchase Description,Quantity On Hand,Cost,Preferred Vendor,Tax Agency,Price,Reorder Pt (Min),MPN
0,Not-active,Service,"#""JUMBO"" Bok Choy","""JUMBO"" Bok Choy (20lb) Produce of U.S.A",NaN,Sales,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
1,Active,Service,#Sundries,Sundries,NaN,Sales,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2,Not-active,Service,#Temperature Recorder,Temperature Recorder,NaN,Other Income:Shipping and Delivery Income,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,10.0,NaN,NaN
3,Not-active,Service,#Unloading Labor,Unloading Labor,NaN,Cold Storage,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,250.0,NaN,NaN
4,Active,Service,Cold Storage-Beto,Term: 7 days,NaN,Cold Storage:CS- Beto,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,25.0,NaN,NaN

In [472]:
ID = ['PA_' + "%05d" % (i,) for i in range(df.shape[0])]
active = [True if i == 'Active' else False for i in df['Active Status']]
Product_Type = ['Stockable Product' if i == 'Inventory Part' else 'Consumable' if i == 'Non-inventory Part' else 'Service' for i in df['Type']]
Name = list(df['Item'])
Sale_Description = list(df['Description'])
Description = [None for i in range(df.shape[0])]

Sale_Price = list(df['Price'])
Cost = list(df['Cost'])
Barcode = ["%05d" % (i,) + '_' +str(datetime.date.today()).replace('-','') for i in range(df.shape[0])]
Vendor_Vendor = list(df['Preferred Vendor'])
Account = df['Account']
df_p = pd.DataFrame(np.array([ID, Name, active, Product_Type, Sale_Price, Cost, Barcode, Description, Sale_Description]).T) 
df_p.columns = ['ID', "Name", "active", "Product Type", "Sale Price", "Cost", "Barcode",  'Description',"Sale Description"]
df_p.to_csv('data/product.csv', encoding = 'utf8')
df_p.to_excel('data/product.xls')

In [450]:
[ur(i) for i in df['Description']]

NameError: name 'ur' is not defined

In [470]:
df[df['Active Status'] == 'Active'].head(100)

,Active Status,Type,Item,Description,Sales Tax Code,Account,COGS Account,Asset Account,Accumulated Depreciation,Purchase Description,Quantity On Hand,Cost,Preferred Vendor,Tax Agency,Price,Reorder Pt (Min),MPN
1,Active,Service,#Sundries,Sundries,NaN,Sales,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
4,Active,Service,Cold Storage-Beto,Term: 7 days,NaN,Cold Storage:CS- Beto,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,25.0,NaN,NaN
5,Active,Service,Cold Storage-GBP,Term: 14days,NaN,Cold Storage:CS- GBP,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,20.0,NaN,NaN
6,Active,Service,Delivery Charge,Delivery Charge,NaN,Other Income:Shipping and Delivery Income,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,15.0,NaN,NaN
7,Active,Service,Empty Pallet,Empty Pallet,NaN,Pallet Charge,NaN,NaN,0.0,NaN,NaN,2.5,NaN,NaN,5.0,NaN,NaN
8,Active,Service,In & Out Handling- GBP,In & Out Handling Charge,NaN,Other Income:In & Out handling charge income:I...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,10.0,NaN,NaN
9,Active,Service,In & Out Handling Charge- Beto,In & Out Handling Charge,NaN,Other Income:In & Out handling charge income:I...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,15.0,NaN,NaN
10,Active,Service,Repacking Service,REPACKING,NaN,Other Income,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
11,Active,Inventory Part,"""BIG"" Bok Choy","""BIG"" BOK CHOY (40lb) Produce of U.S.A********...",NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,"""BIG"" BOK CHOY(40lb) Produce of U.S.A*",-27.0,0.0,NaN,NaN,0.0,NaN,NaN
12,Active,Inventory Part,"""BIG"" Bok Choy(JR)","""BIG"" Bok Choy jr (20lb) Produce of U.S.A",NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,"""BIG"" Bok Choy jr (20lb) Produce of U.S.A",-94.0,0.0,NaN,NaN,0.0,NaN,NaN
33,Active,Inventory Part,#can nuoc,can nuoc,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,can nuoc,0.0,0.0,NaN,NaN,0.0,NaN,NaN
39,Active,Inventory Part,#Chili Leaf,Chili Leaf(20LBS) 辣椒葉 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Chili Leaf(20LBS) 辣椒葉 Produce of U.S.A,-3.0,0.0,NaN,NaN,0.0,NaN,NaN
67,Active,Inventory Part,#Grape-Green,GRAPE-GREEN (16*1LB/CASE) 綠葡萄 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,GRAPE-GREEN (16*1LB/CASE) 綠葡萄 Produce of U.S.A,1.0,0.0,NaN,NaN,0.0,NaN,NaN
71,Active,Inventory Part,#Grape Peony(Organic) 2x8,Grape Peony(Organic) Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Grape Peony(Organic) Produce of U.S.A,-1.0,0.0,NaN,NaN,0.0,NaN,NaN
74,Active,Inventory Part,#Guava,GUAVA(20lb) 芭樂 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,GUAVA(20lb) 芭樂 Produce of U.S.A,9.0,0.0,NaN,NaN,0.0,NaN,NaN
90,Active,Inventory Part,#Korean Pear SINGO,Korean Pear SINGO 韓國新高梨(11-12ct),NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Korean Pear SINGO 韓國新高梨(11-12ct),-21.0,NaN,NaN,NaN,0.0,NaN,NaN
91,Active,Inventory Part,#Korean Pear Singo(#),Korean Pear SINGO 韓國新高梨 (10ct),NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Korean Pear SINGO 韓國新高梨 (10ct),81.0,0.0,NaN,NaN,0.0,NaN,NaN
100,Active,Inventory Part,#Lime Leaf,Lime Leaf (lb),NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Lime Leaf (lb),8.0,NaN,NaN,NaN,0.0,NaN,NaN
102,Active,Inventory Part,#Long Chili,Long Chili(30lb)長辣椒,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Long Chili(30lb)長辣椒,0.0,10.0,NaN,NaN,20.0,NaN,NaN
137,Active,Inventory Part,#Oyster Mush USA,Oyster Mush. (5lb) USA 鮑魚菇,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Oyster Mush. (5lb) USA 鮑魚菇,35.0,18.0,NaN,NaN,36.0,NaN,NaN
139,Active,Inventory Part,#Papaya Mexico,Papaya Mexico 木瓜,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Papaya Mexico 木瓜,11.0,0.0,NaN,NaN,0.0,NaN,NaN
162,Active,Inventory Part,#Red Plum,PLUM(RED) 23LB 紅李子,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,PLUM(RED) 23LB 紅李子,37.0,0.0,NaN,NaN,0.0,NaN,NaN
190,Active,Inventory Part,#Ya Li Pear 56's,Ya Li Pear (56's) 鴨梨 Produce of China,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Ya Li Pear (56's) 鴨梨 Produce of China,98.0,0.0,NaN,NaN,0.0,NaN,NaN
191,Active,Inventory Part,#Yali Pear(BIN),Yali Pear(BIN)鴨梨,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Yali Pear(BIN)鴨梨,0.0,0.0,NaN,NaN,0.0,NaN,NaN
197,Active,Inventory Part,AC,A Choy (25lb) A 菜 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,A Choy (25lb) A 菜 Produce of U.S.A,429.0,NaN,NaN,NaN,0.0,NaN,NaN
198,Active,Inventory Part,ACS,A Choy Sum (30-40lb) A菜心 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,A Choy Sum (30-40lb) A菜心 Produce of U.S.A,-26.0,NaN,NaN,NaN,0.0,NaN,NaN
202,Active,Inventory Part,APPF,Fuji Apple (56-64-72-80-88ct) 富士蘋果 Produce of ...,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Fuji Apple (56-64-72-80-88ct) 富士蘋果 Produce of ...,69.0,NaN,NaN,NaN,0.0,NaN,NaN
203,Active,Inventory Part,APPFP,Fuji Apple (3lbx12pk) 富士蘋果 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Fuji Apple (3lbx12pk) 富士蘋果 Produce of U.S.A,18.0,NaN,NaN,NaN,0.0,NaN,NaN
204,Active,Inventory Part,APPG,Gala Apple (56-64ct) 嘎拉蘋果 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Gala Apple (56-64ct) 嘎拉蘋果 Produce of U.S.A,6.0,0.0,NaN,NaN,0.0,NaN,NaN
205,Active,Inventory Part,APPGP,Gala Apple (3lbx12pk) 嘎拉蘋果 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Gala Apple (3lbx12pk) 嘎拉蘋果 Produce of U.S.A,22.0,0.0,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,Active,Inventory Part,CCEL,Chinese Celery (30lb) 唐芹 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Chinese Celery (30lb) 唐芹 Produce of U.S.A,117.0,NaN,NaN,NaN,0.0,NaN,NaN
258,Active,Inventory Part,CCJ,Ching Chang Jr (20lb) 青江苗 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Ching Chang Jr (20lb) 青江苗 Produce of U.S.A,1188.0,NaN,Banana Company,NaN,0.0,NaN,NaN
259,Active,Inventory Part,CCS,Ching Chang Sum (25-30lb) 青江心 Produce of U.S.A.,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Ching Chang Sum (25-30lb) 青江心 Produce of U.S.A.,20.0,NaN,NaN,NaN,0.0,NaN,NaN
261,Active,Inventory Part,CEL,Celery (24ct) 西芹 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Celery (24ct) 西芹 Produce of U.S.A,142.0,NaN,NaN,NaN,0.0,NaN,NaN
263,Active,Inventory Part,CHA,Chayote (40lb) 合掌瓜 Produce of U.S.A.,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Chayote (40lb) 合掌瓜 Produce of U.S.A.,13.0,NaN,NaN,NaN,0.0,NaN,NaN
264,Active,Inventory Part,CHEC,Chestnut (55lb) 板栗 Product of China,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Chestnut (55lb) 板栗 Product of China,10.0,0.0,NaN,NaN,0.0,NaN,NaN
265,Active,Inventory Part,CHEK,Chestnut (55lb) 板栗 Produce of Korean,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Chestnut (55lb) 板栗 Produce of Korean,7.0,NaN,NaN,NaN,0.0,NaN,NaN
269,Active,Inventory Part,Chestnut(BABY),Baby Chestnut (20lb)/gunny bag,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Baby Chestnut (20lb)/gunny bag,237.0,0.0,NaN,NaN,0.0,NaN,NaN
270,Active,Inventory Part,CHIA,Anaheim Chili (24lb) Produce of Mexico,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Anaheim Chili (24lb) Produce of Mexico,9.0,0.0,NaN,NaN,0.0,NaN,NaN
271,Active,Inventory Part,CHIF,Red Fresno Pepper (10lb) 墨西哥小紅辣椒 Produce of Me...,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Red Fresno Pepper (10lb) 墨西哥小紅辣椒 Produce of Me...,4.0,0.0,NaN,NaN,0.0,NaN,NaN
272,Active,Inventory Part,CHIL,Korean Chili (20lb) 韓國辣椒 Produce of Mexico,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Korean Chili (20lb) 韓國辣椒 Produce of Mexico,4.0,0.0,NaN,NaN,0.0,NaN,NaN
274,Active,Inventory Part,CHIT,Twist Chili (25lb) 捻辣椒 Produce of Mexico,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Twist Chili (25lb) 捻辣椒 Produce of Mexico,6.0,NaN,NaN,NaN,0.0,NaN,NaN
275,Active,Inventory Part,CHITG,Thai Chili Green (30lb) 泰國青辣椒 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Thai Chili Green (30lb) 泰國青辣椒 Produce of U.S.A,172.0,0.0,NaN,NaN,0.0,NaN,NaN
276,Active,Inventory Part,CHITM,Thai Chili Mix (30lb) 泰國辣椒 Produce of U.S.A.,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Thai Chili Mix (30lb) 泰國辣椒 Produce of U.S.A.,72.0,NaN,NaN,NaN,0.0,NaN,NaN
277,Active,Inventory Part,CHITR,Thai Chili Red (30lb) 泰國紅辣椒 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Thai Chili Red (30lb) 泰國紅辣椒 Produce of U.S.A,166.0,NaN,NaN,NaN,0.0,NaN,NaN
279,Active,Inventory Part,CIL60,Cilantro (60ct) 香菜 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Cilantro (60ct) 香菜 Produce of U.S.A,-27.0,NaN,NaN,NaN,0.0,NaN,NaN
280,Active,Inventory Part,CJ,Japanese Cucumber (10lb) 日本黃瓜 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Japanese Cucumber (10lb) 日本黃瓜 Produce of U.S.A,18.0,NaN,NaN,NaN,0.0,NaN,NaN
282,Active,Inventory Part,COC,Coconut (9ct) 椰青 Produce of Thailand,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Coconut (9ct) 椰青 Produce of Thailand,6694.0,NaN,NaN,NaN,0.0,NaN,NaN
283,Active,Inventory Part,COCD,Dry coconut (20ct) 老椰子 Produce of Mexico,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Dry coconut (20ct) 老椰子 Produce of Mexico,11.0,0.0,NaN,NaN,0.0,NaN,NaN
284,Active,Inventory Part,COCF,Fresh Coconut (20ct) 新鮮椰子 Produce of Mexico,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Fresh Coconut (20ct) 新鮮椰子 Produce of Mexico,7.0,NaN,NaN,NaN,0.0,NaN,NaN
285,Active,Inventory Part,COCS,Sweet Coconut (24ct) 椰王 Produce of Thailand,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Sweet Coconut (24ct) 椰王 Produce of Thailand,0.0,0.0,NaN,NaN,0.0,NaN,NaN
286,Active,Inventory Part,CP,Persian Cucumber (22lb) 波斯黃瓜 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Persian Cucumber (22lb) 波斯黃瓜 Produce of U.S.A,-86.0,NaN,NaN,NaN,0.0,NaN,NaN
287,Active,Inventory Part,CRI,Crimini Mushroom (10lb) 磨菇 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Crimini Mushroom (10lb) 磨菇 Produce of U.S.A,3.0,0.0,NaN,NaN,0.0,NaN,NaN
288,Active,Inventory Part,CUC,Cucumber (40lb) 黃瓜 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Cucumber (40lb) 黃瓜 Produce of U.S.A,7.0,0.0,NaN,NaN,0.0,NaN,NaN
289,Active,Inventory Part,Curry Leaf,Curry Leaf (10lb) Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Curry Leaf (10lb) Produce of U.S.A,5.0,0.0,NaN,NaN,0.0,NaN,NaN
291,Active,Inventory Part,Dap Ca,Dap Ca (60pc) Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Dap Ca (60pc) Produce of U.S.A,-42.0,0.0,NaN,NaN,0.0,NaN,NaN
292,Active,Inventory Part,Dates,Dates(11lb),Tax,Sales,Cost of Goods Sold,Inventory Asset,0.0,Dates(11lb),17.0,0.0,NaN,NaN,0.0,NaN,NaN
293,Active,Inventory Part,DC,Chinese Lobok (40lb) 中國蘿蔔 Produce of U.S.A.,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Chinese Lobok (40lb) 中國蘿蔔 Produce of U.S.A.,1064.0,NaN,NaN,NaN,0.0,NaN,NaN
294,Active,Inventory Part,DG,Green Lobok (40lb) 青羅蔔 Produce of U.S.A.,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Green Lobok (40lb) 青羅蔔 Produce of U.S.A.,75.0,NaN,NaN,NaN,0.0,NaN,NaN
295,Active,Inventory Part,DJ,Japanese Diakon (40lb) 日本羅蔔 Produce of U.S.A.,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Japanese Diakon (40lb) 日本羅蔔 Produce of U.S.A.,-50.0,NaN,NaN,NaN,0.0,NaN,NaN

In [458]:
df.shape

(574, 17)

In [469]:
df

,Active Status,Type,Item,Description,Sales Tax Code,Account,COGS Account,Asset Account,Accumulated Depreciation,Purchase Description,Quantity On Hand,Cost,Preferred Vendor,Tax Agency,Price,Reorder Pt (Min),MPN
0,Not-active,Service,"#""JUMBO"" Bok Choy","""JUMBO"" Bok Choy (20lb) Produce of U.S.A",NaN,Sales,NaN,NaN,0.0,NaN,NaN,0.00000,NaN,NaN,0.00,NaN,NaN
1,Active,Service,#Sundries,Sundries,NaN,Sales,NaN,NaN,0.0,NaN,NaN,0.00000,NaN,NaN,0.00,NaN,NaN
2,Not-active,Service,#Temperature Recorder,Temperature Recorder,NaN,Other Income:Shipping and Delivery Income,NaN,NaN,0.0,NaN,NaN,0.00000,NaN,NaN,10.00,NaN,NaN
3,Not-active,Service,#Unloading Labor,Unloading Labor,NaN,Cold Storage,NaN,NaN,0.0,NaN,NaN,0.00000,NaN,NaN,250.00,NaN,NaN
4,Active,Service,Cold Storage-Beto,Term: 7 days,NaN,Cold Storage:CS- Beto,NaN,NaN,0.0,NaN,NaN,0.00000,NaN,NaN,25.00,NaN,NaN
5,Active,Service,Cold Storage-GBP,Term: 14days,NaN,Cold Storage:CS- GBP,NaN,NaN,0.0,NaN,NaN,0.00000,NaN,NaN,20.00,NaN,NaN
6,Active,Service,Delivery Charge,Delivery Charge,NaN,Other Income:Shipping and Delivery Income,NaN,NaN,0.0,NaN,NaN,0.00000,NaN,NaN,15.00,NaN,NaN
7,Active,Service,Empty Pallet,Empty Pallet,NaN,Pallet Charge,NaN,NaN,0.0,NaN,NaN,2.50000,NaN,NaN,5.00,NaN,NaN
8,Active,Service,In & Out Handling- GBP,In & Out Handling Charge,NaN,Other Income:In & Out handling charge income:I...,NaN,NaN,0.0,NaN,NaN,0.00000,NaN,NaN,10.00,NaN,NaN
9,Active,Service,In & Out Handling Charge- Beto,In & Out Handling Charge,NaN,Other Income:In & Out handling charge income:I...,NaN,NaN,0.0,NaN,NaN,0.00000,NaN,NaN,15.00,NaN,NaN
10,Active,Service,Repacking Service,REPACKING,NaN,Other Income,NaN,NaN,0.0,NaN,NaN,0.00000,NaN,NaN,0.00,NaN,NaN
11,Active,Inventory Part,"""BIG"" Bok Choy","""BIG"" BOK CHOY (40lb) Produce of U.S.A********...",NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,"""BIG"" BOK CHOY(40lb) Produce of U.S.A*",-27.0,0.00000,NaN,NaN,0.00,NaN,NaN
12,Active,Inventory Part,"""BIG"" Bok Choy(JR)","""BIG"" Bok Choy jr (20lb) Produce of U.S.A",NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,"""BIG"" Bok Choy jr (20lb) Produce of U.S.A",-94.0,0.00000,NaN,NaN,0.00,NaN,NaN
13,Not-active,Inventory Part,"""BIG"" BOK CHOY 20LB","""BIG"" BOK CHOY(20lb) Produce of U.S.A*",NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,"""BIG"" BOK CHOY(20lb) Produce of U.S.A*",0.0,0.00000,NaN,NaN,0.00,NaN,NaN
14,Not-active,Inventory Part,##Almond Dessert,Almond Dessert 6/32 oz 杏仁糊 Produce Of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Almond Dessert 6/32 oz 杏仁糊 Produce Of U.S.A,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
15,Not-active,Inventory Part,##Black Sesame Dessert,Black Sesame Dessert 6/32 oz 芝麻糊 Produce Of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Black Sesame Dessert 6/32 oz 芝麻糊 Produce Of U.S.A,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
16,Not-active,Inventory Part,##Egg Tofu,Egg Tofu,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Egg Tofu,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
17,Not-active,Inventory Part,##Hon's Seitan,Hon's Seitan 12pk*8oz 原味麵筋 Produce Of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Hon's Seitan 12pk*8oz 原味麵筋 Produce Of U.S.A,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
18,Not-active,Inventory Part,##Hon's Seitan(C),Hon's Seitan(Curry flavor) 16 tray*10.6oz 麵筋(咖...,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Hon's Seitan(Curry flavor) 16 tray*10.6oz 麵筋(咖...,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
19,Not-active,Inventory Part,##Hon's Seitan(S),Hon's Seitan(Sweet/sour flavor) 16 tray*10.6oz...,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Hon's Seitan(Sweet/sour flavor) 16 tray*10.6oz...,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
20,Not-active,Inventory Part,#Apricots,Apricots (12ct) 杏子 Produce of U.S.A.,NaN,Sales,Sales,Inventory Asset,0.0,Apricots (12ct) 杏子 Produce of U.S.A.,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
21,Not-active,Inventory Part,#Asia Pear,Asia Pear(CALIFORNIA) 12CT,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Asia Pear(CALIFORNIA) 12CT,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
22,Not-active,Inventory Part,#AVACADOS,AVACADOS(36CT) 酪梨 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,AVACADOS(36CT) 酪梨 Produce of U.S.A,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
23,Not-active,Inventory Part,#Baby Carrot,Baby Carrot (30/1) 紅蘿蔔 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Baby Carrot (30/1) 紅蘿蔔 Produce of U.S.A,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
24,Not-active,Inventory Part,#Baby potato,Baby potato (50lb) 馬鈴薯 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Baby potato (50lb) 馬鈴薯 Produce of U.S.A,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
25,Not-active,Inventory Part,#bailing murshroom,bailing murshroom,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,bailing murshroom,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
26,Not-active,Inventory Part,#Banana Regular,Banana plamtain 香蕉 Produce of U.S.A.,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Banana plamtain 香蕉 Produce of U.S.A.,0.0,NaN,NaN,NaN,0.00,NaN,NaN
27,Not-active,Inventory Part,#Blue Berry,Blue Berry 藍莓 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Blue Berry 藍莓 Produce of U.S.A,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
28,Not-active,Inventory Part,#Boiled Bamboo,Boiled Bamboo 水煮筍 (case),NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Boiled Bamboo 水煮筍 (case),0.0,0.00000,NaN,NaN,0.00,NaN,NaN
29,Not-active,Inventory Part,#Bok Choy 30lb,Bok Choy (30LB) 白菜 Produce of U.S.A.,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Bok Choy (30LB) 白菜 Produce of U.S.A.,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544,Active,Inventory Part,Woodear,Woodear (6ozx10pk) 木耳 Produce of China,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Woodear (6ozx10pk) 木耳 Produce of China,23.0,NaN,NaN,NaN,0.00,NaN,NaN
545,Not-active,Inventory Part,Yampi,Yampi (40lb),NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Yampi (40lb),0.0,0.00000,NaN,NaN,0.00,NaN,NaN
546,Active,Inventory Part,YC,Yu Choy (30lb) 油菜 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Yu Choy (30lb) 油菜 Produce of U.S.A,-765.0,0.00000,NaN,NaN,0.00,NaN,NaN
547,Active,Inventory Part,YCJ,Yu Choy Tip (25lb) 油菜苗 Produce of Mexico,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Yu Choy Tip (25lb) 油菜苗 Produce of Mexico,233.0,0.00000,Banana Company,NaN,0.00,NaN,NaN
548,Not-active,Inventory Part,YCS25,Yu Choy Sum (25lb) 油菜心 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Yu Choy Sum (25lb) 油菜心 Produce of U.S.A,7.0,NaN,NaN,NaN,0.00,NaN,NaN
549,Active,Inventory Part,YCS30,Yu Choy Sum (30lb) 油菜心 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Yu Choy Sum (30lb) 油菜心 Produce of U.S.A,239.0,0.00000,NaN,NaN,0.00,NaN,NaN
550,Active,Inventory Part,Yellow Date,Yellow Date (30lb) 黃蜜棗,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Yellow Date (30lb) 黃蜜棗,0.0,53.72000,NaN,NaN,107.44,NaN,NaN
551,Active,Inventory Part,Yellow Nectarine,Yellow Nectarine (32-40CT) 黃油桃,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Yellow Nectarine (32-40CT) 黃油桃,3.0,0.00000,NaN,NaN,0.00,NaN,NaN
552,Active,Inventory Part,Yellow Peach,Yellow Peach(32-40CT) 黃水蜜桃,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Yellow Peach(32-40CT) 黃水蜜桃,2.0,0.00000,NaN,NaN,0.00,NaN,NaN
553,Active,Inventory Part,YJ,Japanese Yam (40lb) 日本番薯 Produce of U.S.A.,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Japanese Yam (40lb) 日本番薯 Produce of U.S.A.,260.0,NaN,NaN,NaN,0.00,NaN,NaN
554,Active,Inventory Part,YL,Yam Leaf (20lb) 番薯葉 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Yam Leaf (20lb) 番薯葉 Produce of U.S.A,-179.0,NaN,NaN,NaN,0.00,NaN,NaN
555,Not-active,Inventory Part,Young Ginger,Young Ginger (30lb) 嫩薑,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Young Ginger (30lb) 嫩薑,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
556,Active,Inventory Part,YP,Purple Yam (30lb) 紫番薯 Produce of U.S.A.*****HA...,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Purple Yam (30lb) 紫番薯 Produce of U.S.A.*****HA...,503.0,NaN,NaN,NaN,0.00,NaN,NaN
557,Active,Inventory Part,YPC,Purple Yam (30lb) 紫番薯 Produce of U.S.A.*****CA...,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Purple Yam (30lb) 紫番薯 Produce of U.S.A.*****CA...,-54.0,0.00000,NaN,NaN,0.00,NaN,NaN
558,Active,Inventory Part,YR,Red Yam (40lb) 紅番薯 Produce of U.S.A.,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Red Yam (40lb) 紅番薯 Produce of U.S.A.,-14.0,0.00000,NaN,NaN,0.00,NaN,NaN
559,Not-active,Inventory Part,Yuan Huang Pear,Yuan Huang Pear (24-36ct) 圓黃梨 Produce of U.S.A.,NaN,Sales,Sales,Inventory Asset,0.0,Yuan Huang Pear (24-36ct) 圓黃梨 Produce of U.S.A.,0.0,0.00000,NaN,NaN,0.00,NaN,NaN
560,Active,Inventory Part,Yuca,Yuca (40lb) 木薯 Produce of U.S.A,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Yuca (40lb) 木薯 Produce of U.S.A,23.0,NaN,NaN,NaN,0.00,NaN,NaN
561,Active,Inventory Part,YY,Yellow Yam (40lb) 黃番薯 (黃皮白肉) Produce of U.S.A.,NaN,Sales,Cost of Goods Sold,Inventory Asset,0.0,Yellow Yam (40lb) 黃番薯 (黃皮白肉) Produce of U.S.A.,28.0,0.00000,NaN,NaN,0.00,NaN,NaN
562,Active,Non-inventory Part,Empty box,Empty box for mandarines,NaN,Sales,NaN,NaN,0.0,NaN,NaN,0.00000,NaN,NaN,1.40,NaN,NaN
563,Active,Non-inventory Part,Empty Pallets,Empty Pallets,NaN,Cost of Goods Sold,NaN,NaN,0.0,NaN,NaN,5.00000,NaN,NaN,0.00,NaN,NaN
564,Active,Non-inventory Part,PMT ADJMT,Payment Adjustment,NaN,Sales,NaN,NaN,0.0,NaN,NaN,-104.00000,NaN,NaN,0.00,NaN,NaN
565,Active,Non-inventory Part,purchase credit,Purchase credit,NaN,Cost of Goods Sold,NaN,NaN,0.0,NaN,NaN,22.83582,NaN,NaN,0.00,NaN,NaN
566,Active,Non-inventory Part,Sales Credit,Sales Credit,NaN,Sales Discounts,NaN,NaN,0.0,NaN,NaN,17.00000,NaN,NaN,0.00,NaN,NaN
567,Active,Other Charge,Misc. charge,NaN,NaN,Miscellaneous Expense,NaN,NaN,0.0,NaN,NaN,350.00000,NaN,NaN,0.00,NaN,NaN
568,Active,Other Charge,Misc. item,Misc. charge,NaN,Cost of Goods Sold,NaN,NaN,0.0,NaN,NaN,-3500.00000,NaN,NaN,0.00,NaN,NaN
569,Active,Other Charge,Poly Wrap,Poly Wrap,NaN,Office Supplies,NaN,NaN,0.0,NaN,NaN,21.00000,NaN,NaN,0.00,NaN,NaN
570,Active,Subtotal,Reimb Subt,Reimbursable Expenses Subtotal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,0.0,NaN
571,Active,Group,Reimb Group,Total Reimbursable Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,0.0,NaN
572,Active,Payment,Customer deposit,Customer deposit,NaN,Undeposited Funds,NaN,NaN,0.0,NaN,NaN,0.00000,NaN,NaN,NaN,NaN,NaN
573,Not-active,Payment,OFFSET ACCOUNT-FORMOSA,OFFSET A/R TO A/P-FORMOSA,NaN,Undeposited Funds,NaN,NaN,0.0,NaN,NaN,0.00000,NaN,NaN,NaN,NaN,NaN