In [1]:
import pandas as pd
import numpy as np

/Users/zoesh/anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [3]:
!mkdir data

In [31]:
df = pd.read_excel('data/vendor list.xlsx', sheetname='Sheet1').reset_index().drop('index',axis = 1)

In [293]:
df2 = pd.read_csv('data/customers_temp.csv')
# df2.drop('Job Position', inplace = True, axis = 1)

In [47]:
df_vendor = pd.read_csv('data/res.partner_temp.csv')

In [294]:
df2.columns.values[:-7]

array(['ID', 'Name', 'address type', 'Job Position', 'Is a Company',
       'Related Company/ID', 'Email', 'Phone', 'Mobile', 'Street',
       'Street2', 'ZIP', 'City', 'State', 'Country'], dtype=object)

In [70]:
df['Vendor']

0         93 Transport
1        A&A Logistics
2          A&T Pallets
3    ABEEO PRODUCE LLC
Name: Vendor, dtype: object

In [49]:
col_names = ['active', 'name', u'Balance', u'Balance Total', u'name', ]

In [50]:
df_col_names = df2.columns.values

In [62]:
df2

,ID,Name,Job Position,Is a Company,Related Company/ID,Email,Phone,Mobile,Street,Street2,ZIP,City,State,Country,Website,TIN,Comment,Internal Reference
0,MYID_001,Agrolait,NaN,True,NaN,agrolait@yourcompany.example.com,1 (800) 233-1234,NaN,253 Gardenside Avenue,Building 12B,94080,South San Francisco,California,United States,http://www.agrolait.com,NaN,write anything here...,X
1,MYID_002,Edward Foster,CEO,False,MYID_001,NaN,NaN,NaN,12 Grand Avenue,NaN,94080,San Francisco,California,United States,NaN,NaN,NaN,NaN
2,MYID_003,ASUSTeK,NaN,True,NaN,NaN,NaN,NaN,31 Hong Kong street,NaN,106,Taipei,NaN,NaN,http://www.asustek.com,NaN,NaN,NaN
3,MYID_004,Camptocamp,NaN,True,NaN,camptocamp@yourcompany.example.com,+33 4 49 23 44 54,NaN,"93, Press Avenue",NaN,73377,Le Bourget du Lac,NaN,France,NaN,NaN,NaN,NaN

In [267]:
ID = ['VA_0000' + str(i) for i in range(df.shape[0])]

In [268]:
Name = list(df.Vendor.values)

In [313]:
Job_Position = [None for i in range(df.shape[0])]

In [314]:
Is_Company = [True for i in range(df.shape[0])]

In [315]:
Email = [None for i in range(df.shape[0])]

In [342]:
import re
reg = re.compile("[-+]?\d+[\.]?\d*[eE]?[-+]?\d*")
Phone = ['-'.join([i.lstrip('-') for i in reg.findall(j)]) if not pd.isnull(j) else j for j in df['Main Phone']]

In [317]:
Mobile = [np.nan for i in range(df.shape[0])]

In [318]:
Street = list(df['Bill from 1'])

In [319]:
Street2 = list(df['Bill from 2'])

In [320]:
Zip = [i[-5:] for i in df['Bill from 3']]

In [321]:
City = [' '.join(i.split(' ')[:-2]).replace(',', '') for i in df['Bill from 3']]
State = [i.split(' ')[-2] for i in df['Bill from 3']]

In [322]:
Country = ['United States' for i in range(df.shape[0])]

In [323]:
Website = [np.nan for i in range(df.shape[0])]
address_type =['Invoice address' for i in range(df.shape[0])]

In [324]:
related_company_id = [np.nan for i in range(df.shape[0])]
df_v = pd.DataFrame(np.array([ID, Name, address_type, Job_Position, Is_Company, related_company_id,Email,Phone,Mobile,Street,Street2,Zip,City, State,Country]).T)

In [325]:
df_v.columns = df2.columns.values[:-7]

In [326]:
df_v.to_csv('data/test.csv')

In [349]:
sub_ID = ['VA_0000' + str(df.shape[0]+i) for i in range(df.shape[0])]
sub_Name = [re.sub('[^A-Za-z ]+', '', j).lstrip() if not pd.isnull(j) else j for j in df['Main Phone']]
sub_address_type = ['Shipping address' for i in range(df.shape[0])]
sub_Is_Company = [False for i in range(df.shape[0])]
sub_related_company_id = list(df_v.ID)
sub_Email = [None for i in range(df.shape[0])]
sub_Street = list(df['Ship from 1'])
sub_Street2 = list(df['Ship from 2'])
sub_Zip = [i[-5:] for i in df['Ship from 3']]
sub_City = [' '.join(i.split(' ')[:-2]).replace(',', '') for i in df['Ship from 3']]
sub_State = [i.split(' ')[-2] for i in df['Ship from 3']]
sub_Country = ['United States' for i in range(df.shape[0])]
df_v2 = pd.DataFrame(np.array([sub_ID, sub_Name, sub_address_type, Job_Position, sub_Is_Company, sub_related_company_id,Email,Phone,Mobile,sub_Street,sub_Street2,sub_Zip,sub_City, sub_State,sub_Country]).T)

In [350]:
df_v2.columns = df2.columns.values[:-7]

In [356]:
df_new = pd.concat([df_v,df_v2])
df_new.to_csv('test.csv')

In [165]:
import re

In [196]:
reg = re.compile("[-+]?\d+[\.]?\d*[eE]?[-+]?\d*")